// TODO: apply as example 
$default-theme: true !default;

@if $default-theme {
  $--subdued: #6D7175;
  $--default: #202223;
  $--disabled: #8C9196;
  $--critical: #D72C0D;
  $--warning: #916A00;
  $--success: #008060;
  $--highlight: #347C84;
}

