// These are example variables. 
// Alter them to match your design system.
// https://sass-lang.com/documentation/variables

// radius
$rad-lg: 0.5rem/* 8px */;
$rad-md: 0.375rem/* 6px */; 
$rad-sm: 0.125rem/* 2px */; 